


<div id="home">

  <div class="container text-center">
    <i>A personality test designed to match the user with the proper compatible grouping.</i>
  </div>

<br><br>
<div class="table-responsive">
    <table id="tableData" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Strongly Agree</th>
                <th></th>
                <th>Strongly Agree</th>
            </tr>
        </thead>
        <tbody id="survey-table-body">
        </tbody>
    </table>
</div>
<button class="btn btn-success" id="surveySubmit">Submit</button>

<script>
    let groupuser = "{{ groupuser }}";
</script>
{{!-- <script src="/js/paging.js"></script> --}}
<script src="/js/groupsurvey.js"></script>


 