<h1>Group Results</h1>

{{!-- 4x4 card area --}}


{{!-- end card area --}}

{{!-- individual type --}}

{{!-- summary of type - this will need to come from javascript --}}

<script>
    let groupuser = "{{ groupuser }}";
</script>
<script src="/js/groupresults.js"></script>