


<div id="home">
<nav class="navbar navbar-expand">
  <div class="container">
    <div class="collapse navbar-collapse" id="nav">
      <ul id="nav" class="navbar-nav nav-fill w-100">
        <li id="home" class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li id="about" class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li id="contact" class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li id="repo" class="nav-item"><a href="https://github.com/peter6468/Project2" class="nav-link">Repo</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container text-center">
    
  <div class="jumbotron">
    <img src="https://i.imgur.com/Jnw5d4F.png">
  </div>
   <i>A personality test designed to match the user with the proper compatible grouping.</i>
  </div>


</div>
<br/>
  <div class="container">
        <div id="surveyElement"></div>
        <div id="surveyResult"></div>


<div class="table-responsive">
        <table id="tableData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Strongly Agree</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>Strongly Disagree</th>
                </tr>
            </thead>
<form id="survey-data">
 <tr id="here_table"></tr>
    <tr id="here_table2"></tr>
    <tr id="here_table3"></tr>
    <tr id="here_table4"></tr>
    <tr id="here_table5"></tr>
    <tr id="here_table6"></tr>
    <tr id="here_table7"></tr>
    <tr id="here_table8"></tr>
    <tr id="here_table9"></tr>
    <tr id="here_table10"></tr>
    <tr id="here_table11"></tr>
    <tr id="here_table12"></tr>
    <tr id="here_table13"></tr>
    <tr id="here_table14"></tr>
    <tr id="here_table15"></tr>
    <tr id="here_table16"></tr>
    <tr id="here_table17"></tr>
    <tr id="here_table18"></tr>
    <tr id="here_table19"></tr>
    <tr id="here_table20"></tr>
    <tr id="here_table21"></tr>
    <tr id="here_table22"></tr>
    <tr id="here_table23"></tr>
    <tr id="here_table24"></tr>
    <tr id="here_table25"></tr>
    <tr id="here_table26"></tr>
    <tr id="here_table27"></tr>
    <tr id="here_table28"></tr>
    <tr id="here_table29"></tr>
    <tr id="here_table30"></tr>
    <tr id="here_table31"></tr>
    <tr id="here_table32"></tr>
      <input type="submit" value="submit" id="submit">

</form>
            {{!-- <tr style>
                <td>Makes List</td>
                <td>
                    <input type="radio" name="row-1" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="5">
                </td>
                <td>Relies On Memory</td>
            </tr>
            <tr>
                <td>Sceptical</td>
                <td>
                    <input type="radio" name="row-2" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="5">
                </td>
                <td>Wants To Believe</td>
            </tr>
            <tr>
                <td>Bored By Time Alone</td>
                <td>
                    <input type="radio" name="row-3" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="5">
                </td>
                <td>Needs Time Alone</td>
            </tr>
            <tr>
                <td>Accepts Things As They Are</td>
                <td>
                    <input type="radio" name="row-4" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="5">
                </td>
                <td>Unsatisfied With The Way Things Are</td>
            </tr>
            <tr>
                <td>Keeps A Clean Room</td>
                <td>
                    <input type="radio" name="row-5" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="5">
                </td>
                <td>Just Puts Stuff Where Ever</td>
            </tr>
            <tr>
                <td>Thinks Robotic Is An Insult</td>
                <td>
                    <input type="radio" name="row-6" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="5">
                </td>
                <td>Strives To Have A Mechanical Mind</td>
            </tr>
            <tr>
                <td>Energetic</td>
                <td>
                    <input type="radio" name="row-7" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="5">
                </td>
                <td>Mellow</td>
            </tr>
            <tr>
                <td>Prefer To Take Mutlitple Choice Exam</td>
                <td>
                    <input type="radio" name="row-8" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="5">
                </td>
                <td>Prefer To Take An Essay Exam</td>
            </tr>
            <tr>
                <td>Chaotic</td>
                <td>
                    <input type="radio" name="row-9" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="5">
                </td>
                <td>Organized</td>
            </tr>
            <tr>
                <td>Easily Hurt</td>
                <td>
                    <input type="radio" name="row-10" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="5">
                </td>
                <td>Thick Skinned</td>
            </tr>
            <tr>
                <td>Works Best In Groups</td>
                <td>
                    <input type="radio" name="row-11" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="5">
                </td>
                <td>Works Best Alone</td>
            </tr>
            <tr>
                <td>Focused On The Present</td>
                <td>
                    <input type="radio" name="row-12" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="5">
                </td>
                <td>Focused On The Future</td>
            </tr>
            <tr>
                <td>Plans Far Ahead</td>
                <td>
                    <input type="radio" name="row-13" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="5">
                </td>
                <td>Plans At The Last Minute</td>
            </tr>
            <tr>
                <td>Wants People'Respect</td>
                <td>
                    <input type="radio" name="row-14" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="5">
                </td>
                <td>Wants Their Love</td>
            </tr>
            <tr>
                <td>Gets Worn Out By Parties</td>
                <td>
                    <input type="radio" name="row-15" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="5">
                </td>
                <td>Gets Fired Up By Parties</td>
            </tr>
            <tr>
                <td>Fits In</td>
                <td>
                    <input type="radio" name="row-16" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="5">
                </td>
                <td>Stands Out</td>
            </tr>
            <tr>
                <td>Keeps Options Open</td>
                <td>
                    <input type="radio" name="row-17" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="5">
                </td>
                <td>Commits</td>
            </tr>
            <tr>
                <td>Wants To Be Good At Fixing Things</td>
                <td>
                    <input type="radio" name="row-18" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="5">
                </td>
                <td>Wants To Be Good At Fixing People</td>
            </tr>
            <tr>
                <td>Talks More</td>
                <td>
                    <input type="radio" name="row-19" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="5">
                </td>
                <td>Listen More</td>
            </tr>
            <tr>
                <td>When Describing An Event, Will Tell People What Happened</td>
                <td>
                    <input type="radio" name="row-20" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="5">
                </td>
                <td>When Describing An Event, Will Tell People What It Meant</td>
            </tr>
            <tr>
                <td>Gets Work Done Right Away</td>
                <td>
                    <input type="radio" name="row-21" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="5">
                </td>
                <td>Procastinates</td>
            </tr>
            <tr>
                <td>Follows The Heart</td>
                <td>
                    <input type="radio" name="row-22" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="5">
                </td>
                <td>Follows The Head</td>
            </tr>
            <tr>
                <td>Stays At Home</td>
                <td>
                    <input type="radio" name="row-23" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="5">
                </td>
                <td>Goes Out On The Town</td>
            </tr>
            <tr>
                <td>Wants The Big Picture</td>
                <td>
                    <input type="radio" name="row-24" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="5">
                </td>
                <td>Wants The Details</td>
            </tr>
            <tr>
                <td>Improvises</td>
                <td>
                    <input type="radio" name="row-25" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="5">
                </td>
                <td>Prepares</td>
            </tr>
            <tr>
                <td>Bases Morality On Justice</td>
                <td>
                    <input type="radio" name="row-26" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="5">
                </td>
                <td>Bases Morality On Compassion</td>
            </tr>
            <tr>
                <td>Finds It Difficult To Yell Very Loudly</td>
                <td>
                    <input type="radio" name="row-27" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="5">
                </td>
                <td>Yelling To Others When They Are Far Away Comes Naturally</td>
            </tr>
            <tr>
                <td>Theoretical</td>
                <td>
                    <input type="radio" name="row-28" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="5">
                </td>
                <td>Empirical</td>
            </tr>
            <tr>
                <td>Works Hard</td>
                <td>
                    <input type="radio" name="row-29" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="5">
                </td>
                <td>Plays Hard</td>
            </tr>
            <tr>
                <td>Uncomfortable With Emotions</td>
                <td>
                    <input type="radio" name="row-30" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="5">
                </td>
                <td>Values Emmotions</td>
            </tr>
            <tr>
                <td>Likes To Perform In Front Of Other People</td>
                <td>
                    <input type="radio" name="row-31" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="5">
                </td>
                <td>Avoids Public Speaking</td>
            </tr>
            <tr>
                <td>Likes To Know, "WHO?", "WHAT?". "WHEN?"</td>
                <td>
                    <input type="radio" name="row-32" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="5">
                </td>
                <td>Likes To Know Why</td>
            </tr>
            <tr> --}}
        </table>
<input class="btn btn-primary" type="submit" value="Submit">
    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<br/>
{{!--    
    
        // $(function () {
        //     var col, el;
        //     $("input[type=radio]").click(function () {
        //         el = $(this);
        //         col = el.data("col");
        //         $("input[data-col=" + col + "]").prop("checked", false);
        //         el.prop("checked", true);
        //     });
        // });
 --}}
{{!-- var json = {
    questions: [
        {
            type: "rating",
            name: "satisfaction",
            title: "How satisfied are you with the Product?",
            minRateDescription: "Not Satisfied",
            maxRateDescription: "Completely satisfied"
        }
    ]
};

window.survey = new Survey.Model(json);

survey
    .onComplete
    .add(function (result) {
        document
            .querySelector('#surveyResult')
            .innerHTML = "result: " + JSON.stringify(result.data);
    });

$("#surveyElement").Survey({model: survey}); --}}

  <script type="text/javascript">
    var form = $('<form>').addClass('questions');
    var row = $('<td>').addClass('survey').text("Makes List");
        $('#here_table').append(row);
      var radioBtn1 = $('<td> <input type="radio" name="rbtnCount1" /> </td>');
      $('#here_table').append(radioBtn1);
      var radioBtn2 = $('<td> <input type="radio" name="rbtnCount2" /> </td>');
      $('#here_table').append(radioBtn2);
      var radioBtn3 = $('<td> <input type="radio" name="rbtnCount3" /> </td>');
      $('#here_table').append(radioBtn3);
      var radioBtn4 = $('<td> <input type="radio" name="rbtnCount4" /> </td>');
      $('#here_table').append(radioBtn4);
      var radioBtn5 = $('<td> <input type="radio" name="rbtnCount5" /> </td>');
      $('#here_table').append(radioBtn5);
    var row2 = $('<td>').addClass('survey').text("Relies On Memory");
        $('#here_table').append(row2);
        $('#here_table').append(form);

    
    var row3 = $('<td>').addClass('survey').text("Skeptical");
        $('#here_table2').append(row3);
        var radioBtn6 = $('<td> <input type="radio" name="rbtnCount6" /> </td>');
        $('#here_table2').append(radioBtn6);
        var radioBtn7 = $('<td> <input type="radio" name="rbtnCount7" /> </td>');
        $('#here_table2').append(radioBtn7);
        var radioBtn8 = $('<td> <input type="radio" name="rbtnCount8" /> </td>');
        $('#here_table2').append(radioBtn8);
        var radioBtn9 = $('<td> <input type="radio" name="rbtnCount9" /> </td>');
        $('#here_table2').append(radioBtn9);
        var radioBtn10 = $('<td> <input type="radio" name="rbtnCount10" /> </td>');
        $('#here_table2').append(radioBtn10);
    var row4 = $('<td>').addClass('survey').text("Wants to Believe");
        $('#here_table2').append(row4);
    
        var row5 = $('<td>').addClass('survey').text("Bored By Time Alone");
        $('#here_table3').append(row5);
        var radioBtn11 = $('<td> <input type="radio" name="rbtnCount11" /> </td>');
        $('#here_table3').append(radioBtn11);
        var radioBtn12 = $('<td> <input type="radio" name="rbtnCount12" /> </td>');
        $('#here_table3').append(radioBtn12);
        var radioBtn13 = $('<td> <input type="radio" name="rbtnCount13" /> </td>');
        $('#here_table3').append(radioBtn13);
        var radioBtn14 = $('<td> <input type="radio" name="rbtnCount14" /> </td>');
        $('#here_table3').append(radioBtn14);
        var radioBtn15 = $('<td> <input type="radio" name="rbtnCount15" /> </td>');
        $('#here_table3').append(radioBtn15);
    var row6 = $('<td>').addClass('survey').text("Needs Time Alone");
        $('#here_table3').append(row6);

           var row7 = $('<td>').addClass('survey').text("Accepts Things As They Are");
        $('#here_table4').append(row7);
        var radioBtn16 = $('<td> <input type="radio" name="rbtnCount16" /> </td>');
        $('#here_table4').append(radioBtn16);
        var radioBtn17 = $('<td> <input type="radio" name="rbtnCount17" /> </td>');
        $('#here_table4').append(radioBtn17);
        var radioBtn18 = $('<td> <input type="radio" name="rbtnCount18" /> </td>');
        $('#here_table4').append(radioBtn18);
        var radioBtn19 = $('<td> <input type="radio" name="rbtnCount19" /> </td>');
        $('#here_table4').append(radioBtn19);
        var radioBtn20 = $('<td> <input type="radio" name="rbtnCount20" /> </td>');
        $('#here_table4').append(radioBtn20);
    var row8 = $('<td>').addClass('survey').text("Unsatisfied With The Way Things Are");
        $('#here_table4').append(row8);

                var row9 = $('<td>').addClass('survey').text("Keeps A Clean Room");
        $('#here_table5').append(row9);
        var radioBtn21 = $('<td> <input type="radio" name="rbtnCount21" /> </td>');
        $('#here_table5').append(radioBtn21);
        var radioBtn22 = $('<td> <input type="radio" name="rbtnCount22" /> </td>');
        $('#here_table5').append(radioBtn22);
        var radioBtn23 = $('<td> <input type="radio" name="rbtnCount23" /> </td>');
        $('#here_table5').append(radioBtn23);
        var radioBtn24 = $('<td> <input type="radio" name="rbtnCount24" /> </td>');
        $('#here_table5').append(radioBtn24);
        var radioBtn25 = $('<td> <input type="radio" name="rbtnCount25" /> </td>');
        $('#here_table5').append(radioBtn25);
    var row10 = $('<td>').addClass('survey').text("Just Puts Stuff Wherever");
        $('#here_table5').append(row10);

                  var row11 = $('<td>').addClass('survey').text("Thinks Robotic Is An Insult");
        $('#here_table6').append(row11);
        var radioBtn26 = $('<td> <input type="radio" name="rbtnCount26" /> </td>');
        $('#here_table6').append(radioBtn26);
        var radioBtn27 = $('<td> <input type="radio" name="rbtnCount27" /> </td>');
        $('#here_table6').append(radioBtn27);
        var radioBtn28 = $('<td> <input type="radio" name="rbtnCount28" /> </td>');
        $('#here_table6').append(radioBtn28);
        var radioBtn29 = $('<td> <input type="radio" name="rbtnCount29" /> </td>');
        $('#here_table6').append(radioBtn29);
        var radioBtn30 = $('<td> <input type="radio" name="rbtnCount30" /> </td>');
        $('#here_table6').append(radioBtn30);
    var row12 = $('<td>').addClass('survey').text("Strives To Have A Mechanical Mind");
        $('#here_table6').append(row12);

                  var row13 = $('<td>').addClass('survey').text("Energetic");
        $('#here_table7').append(row13);
        var radioBtn31 = $('<td> <input type="radio" name="rbtnCount31" /> </td>');
        $('#here_table7').append(radioBtn31);
        var radioBtn32 = $('<td> <input type="radio" name="rbtnCount32" /> </td>');
        $('#here_table7').append(radioBtn32);
        var radioBtn33 = $('<td> <input type="radio" name="rbtnCount33" /> </td>');
        $('#here_table7').append(radioBtn33);
        var radioBtn34 = $('<td> <input type="radio" name="rbtnCount34" /> </td>');
        $('#here_table7').append(radioBtn34);
        var radioBtn35 = $('<td> <input type="radio" name="rbtnCount35" /> </td>');
        $('#here_table7').append(radioBtn35);
    var row14 = $('<td>').addClass('survey').text("Mellow");
        $('#here_table7').append(row14);

     var row15 = $('<td>').addClass('survey').text("Prefer To Take Mutlitple Choice Exam");
        $('#here_table8').append(row15);
        var radioBtn36 = $('<td> <input type="radio" name="rbtnCount36" /> </td>');
        $('#here_table8').append(radioBtn31);
        var radioBtn37 = $('<td> <input type="radio" name="rbtnCount37" /> </td>');
        $('#here_table8').append(radioBtn32);
        var radioBtn38 = $('<td> <input type="radio" name="rbtnCount38" /> </td>');
        $('#here_table8').append(radioBtn33);
        var radioBtn39 = $('<td> <input type="radio" name="rbtnCount39" /> </td>');
        $('#here_table8').append(radioBtn34);
        var radioBtn40 = $('<td> <input type="radio" name="rbtnCount40" /> </td>');
        $('#here_table8').append(radioBtn35);
    var row16 = $('<td>').addClass('survey').text("Prefer To Take An Essay Exam");
        $('#here_table8').append(row16);


var row17 = $('<td>').addClass('survey').text("Chaotic");
        $('#here_table9').append(row17);
        var radioBtn41 = $('<td> <input type="radio" name="rbtnCount41" /> </td>');
        $('#here_table9').append(radioBtn41);
        var radioBtn42 = $('<td> <input type="radio" name="rbtnCount42" /> </td>');
        $('#here_table9').append(radioBtn42);
        var radioBtn43 = $('<td> <input type="radio" name="rbtnCount43" /> </td>');
        $('#here_table9').append(radioBtn43);
        var radioBtn44 = $('<td> <input type="radio" name="rbtnCount44" /> </td>');
        $('#here_table9').append(radioBtn44);
        var radioBtn45 = $('<td> <input type="radio" name="rbtnCount45" /> </td>');
        $('#here_table9').append(radioBtn45);
    var row18 = $('<td>').addClass('survey').text("Organized");
        $('#here_table9').append(row18);

        var row19 = $('<td>').addClass('survey').text("Chaotic");
        $('#here_table10').append(row19);
        var radioBtn46 = $('<td> <input type="radio" name="rbtnCount46" /> </td>');
        $('#here_table10').append(radioBtn46);
        var radioBtn47 = $('<td> <input type="radio" name="rbtnCount47" /> </td>');
        $('#here_table10').append(radioBtn47);
        var radioBtn48 = $('<td> <input type="radio" name="rbtnCount48" /> </td>');
        $('#here_table10').append(radioBtn48);
        var radioBtn49 = $('<td> <input type="radio" name="rbtnCount49" /> </td>');
        $('#here_table10').append(radioBtn49);
        var radioBtn50 = $('<td> <input type="radio" name="rbtnCount50" /> </td>');
        $('#here_table10').append(radioBtn50);
    var row20 = $('<td>').addClass('survey').text("Organized");
        $('#here_table10').append(row20);

              var row21 = $('<td>').addClass('survey').text("Easily Hurt");
        $('#here_table11').append(row21);
        var radioBtn51 = $('<td> <input type="radio" name="rbtnCount51" /> </td>');
        $('#here_table11').append(radioBtn51);
        var radioBtn52 = $('<td> <input type="radio" name="rbtnCount52" /> </td>');
        $('#here_table11').append(radioBtn52);
        var radioBtn53 = $('<td> <input type="radio" name="rbtnCount53" /> </td>');
        $('#here_table11').append(radioBtn53);
        var radioBtn54 = $('<td> <input type="radio" name="rbtnCount54" /> </td>');
        $('#here_table11').append(radioBtn54);
        var radioBtn55 = $('<td> <input type="radio" name="rbtnCount55" /> </td>');
        $('#here_table11').append(radioBtn55);
    var row22 = $('<td>').addClass('survey').text("Thick Skinned");
        $('#here_table11').append(row22);
        
        var row23 = $('<td>').addClass('survey').text("Works Best In Groups");
        $('#here_table12').append(row23);
        var radioBtn56 = $('<td> <input type="radio" name="rbtnCount56" /> </td>');
        $('#here_table12').append(radioBtn56);
        var radioBtn57 = $('<td> <input type="radio" name="rbtnCount57" /> </td>');
        $('#here_table12').append(radioBtn57);
        var radioBtn58 = $('<td> <input type="radio" name="rbtnCount58" /> </td>');
        $('#here_table12').append(radioBtn58);
        var radioBtn59 = $('<td> <input type="radio" name="rbtnCount59" /> </td>');
        $('#here_table12').append(radioBtn59);
        var radioBtn60 = $('<td> <input type="radio" name="rbtnCount60" /> </td>');
        $('#here_table12').append(radioBtn60);
    var row24 = $('<td>').addClass('survey').text("Works Best Alone");
        $('#here_table12').append(row24);

              var row25 = $('<td>').addClass('survey').text("Focused On The Present");
        $('#here_table13').append(row25);
        var radioBtn61 = $('<td> <input type="radio" name="rbtnCount61" /> </td>');
        $('#here_table13').append(radioBtn61);
        var radioBtn62 = $('<td> <input type="radio" name="rbtnCount62" /> </td>');
        $('#here_table13').append(radioBtn62);
        var radioBtn63 = $('<td> <input type="radio" name="rbtnCount63" /> </td>');
        $('#here_table13').append(radioBtn63);
        var radioBtn64 = $('<td> <input type="radio" name="rbtnCount64" /> </td>');
        $('#here_table13').append(radioBtn64);
        var radioBtn65 = $('<td> <input type="radio" name="rbtnCount65" /> </td>');
        $('#here_table13').append(radioBtn65);
    var row26 = $('<td>').addClass('survey').text("Focused On The Future");
        $('#here_table13').append(row26);
        
        var row27 = $('<td>').addClass('survey').text("Plans Far Ahead");
        $('#here_table14').append(row27);
        var radioBtn66 = $('<td> <input type="radio" name="rbtnCount66" /> </td>');
        $('#here_table14').append(radioBtn66);
        var radioBtn67 = $('<td> <input type="radio" name="rbtnCount67" /> </td>');
        $('#here_table14').append(radioBtn67);
        var radioBtn68 = $('<td> <input type="radio" name="rbtnCount68" /> </td>');
        $('#here_table14').append(radioBtn68);
        var radioBtn69 = $('<td> <input type="radio" name="rbtnCount69" /> </td>');
        $('#here_table14').append(radioBtn69);
        var radioBtn70 = $('<td> <input type="radio" name="rbtnCount70" /> </td>');
        $('#here_table14').append(radioBtn70);
    var row28 = $('<td>').addClass('survey').text("Plans At The Last Minute");
        $('#here_table14').append(row28);

     var row29 = $('<td>').addClass('survey').text("Wants People'Respect");
        $('#here_table15').append(row29);
        var radioBtn71 = $('<td> <input type="radio" name="rbtnCount71" /> </td>');
        $('#here_table15').append(radioBtn71);
        var radioBtn72 = $('<td> <input type="radio" name="rbtnCount72" /> </td>');
        $('#here_table15').append(radioBtn72);
        var radioBtn73 = $('<td> <input type="radio" name="rbtnCount73" /> </td>');
        $('#here_table15').append(radioBtn73);
        var radioBtn74 = $('<td> <input type="radio" name="rbtnCount74" /> </td>');
        $('#here_table15').append(radioBtn74);
        var radioBtn75 = $('<td> <input type="radio" name="rbtnCount75" /> </td>');
        $('#here_table15').append(radioBtn75);
    var row30 = $('<td>').addClass('survey').text("Wants Their Love");
        $('#here_table15').append(row30);

             var row31 = $('<td>').addClass('survey').text("Gets Worn Out By Parties");
        $('#here_table16').append(row31);
        var radioBtn76 = $('<td> <input type="radio" name="rbtnCount76" /> </td>');
        $('#here_table16').append(radioBtn76);
        var radioBtn77 = $('<td> <input type="radio" name="rbtnCount77" /> </td>');
        $('#here_table16').append(radioBtn77);
        var radioBtn78 = $('<td> <input type="radio" name="rbtnCount78" /> </td>');
        $('#here_table16').append(radioBtn78);
        var radioBtn79 = $('<td> <input type="radio" name="rbtnCount79" /> </td>');
        $('#here_table16').append(radioBtn79);
        var radioBtn80 = $('<td> <input type="radio" name="rbtnCount80" /> </td>');
        $('#here_table16').append(radioBtn80);
    var row32 = $('<td>').addClass('survey').text("Gets Fired Up By Parties");
        $('#here_table16').append(row32);
        
        
        var row33 = $('<td>').addClass('survey').text("Fits In");
        $('#here_table17').append(row33);
        var radioBtn81 = $('<td> <input type="radio" name="rbtnCount81" /> </td>');
        $('#here_table17').append(radioBtn81);
        var radioBtn82 = $('<td> <input type="radio" name="rbtnCount82" /> </td>');
        $('#here_table17').append(radioBtn82);
        var radioBtn83 = $('<td> <input type="radio" name="rbtnCount83" /> </td>');
        $('#here_table17').append(radioBtn83);
        var radioBtn84 = $('<td> <input type="radio" name="rbtnCount84" /> </td>');
        $('#here_table17').append(radioBtn84);
        var radioBtn85 = $('<td> <input type="radio" name="rbtnCount85" /> </td>');
        $('#here_table17').append(radioBtn85);
    var row34 = $('<td>').addClass('survey').text("Stands Out");
        $('#here_table17').append(row34);

    var row35 = $('<td>').addClass('survey').text("Keeps Options Open");
        $('#here_table18').append(row35);
        var radioBtn86 = $('<td> <input type="radio" name="rbtnCount86" /> </td>');
        $('#here_table18').append(radioBtn86);
        var radioBtn87 = $('<td> <input type="radio" name="rbtnCount87" /> </td>');
        $('#here_table18').append(radioBtn87);
        var radioBtn88 = $('<td> <input type="radio" name="rbtnCount88" /> </td>');
        $('#here_table18').append(radioBtn88);
        var radioBtn89 = $('<td> <input type="radio" name="rbtnCount89" /> </td>');
        $('#here_table18').append(radioBtn89);
        var radioBtn90 = $('<td> <input type="radio" name="rbtnCount90" /> </td>');
        $('#here_table18').append(radioBtn90);
    var row36 = $('<td>').addClass('survey').text("Commits");
        $('#here_table18').append(row36);

            var row37 = $('<td>').addClass('survey').text("Wants To Be Good At Fixing Things");
        $('#here_table19').append(row37);
        var radioBtn91 = $('<td> <input type="radio" name="rbtnCount91" /> </td>');
        $('#here_table19').append(radioBtn91);
        var radioBtn92 = $('<td> <input type="radio" name="rbtnCount92" /> </td>');
        $('#here_table19').append(radioBtn92);
        var radioBtn93 = $('<td> <input type="radio" name="rbtnCount93" /> </td>');
        $('#here_table19').append(radioBtn93);
        var radioBtn94 = $('<td> <input type="radio" name="rbtnCount93" /> </td>');
        $('#here_table19').append(radioBtn94);
        var radioBtn95 = $('<td> <input type="radio" name="rbtnCount95" /> </td>');
        $('#here_table19').append(radioBtn95);
    var row38 = $('<td>').addClass('survey').text("Wants To Be Good At Fixing People");
        $('#here_table19').append(row38);
        
        var row39 = $('<td>').addClass('survey').text("Talks More");
        $('#here_table20').append(row39);
        var radioBtn96 = $('<td> <input type="radio" name="rbtnCount96" /> </td>');
        $('#here_table20').append(radioBtn96);
        var radioBtn97 = $('<td> <input type="radio" name="rbtnCount97" /> </td>');
        $('#here_table20').append(radioBtn97);
        var radioBtn98 = $('<td> <input type="radio" name="rbtnCount98" /> </td>');
        $('#here_table20').append(radioBtn98);
        var radioBtn99 = $('<td> <input type="radio" name="rbtnCount99" /> </td>');
        $('#here_table20').append(radioBtn99);
        var radioBtn100 = $('<td> <input type="radio" name="rbtnCount100" /> </td>');
        $('#here_table20').append(radioBtn100);
    var row40 = $('<td>').addClass('survey').text("Listen More");
        $('#here_table20').append(row40);

   var row41 = $('<td>').addClass('survey').text("When Describing An Event, Will Tell People What Happened");
        $('#here_table21').append(row41);
        var radioBtn101 = $('<td> <input type="radio" name="rbtnCount101" /> </td>');
        $('#here_table21').append(radioBtn101);
        var radioBtn102 = $('<td> <input type="radio" name="rbtnCount102" /> </td>');
        $('#here_table21').append(radioBtn102);
        var radioBtn103 = $('<td> <input type="radio" name="rbtnCount103" /> </td>');
        $('#here_table21').append(radioBtn103);
        var radioBtn104 = $('<td> <input type="radio" name="rbtnCount104" /> </td>');
        $('#here_table21').append(radioBtn104);
        var radioBtn105 = $('<td> <input type="radio" name="rbtnCount105" /> </td>');
        $('#here_table21').append(radioBtn105);
    var row42 = $('<td>').addClass('survey').text("When Describing An Event, Will Tell People What It Meant");
        $('#here_table21').append(row42);
        
        var row43 = $('<td>').addClass('survey').text("Gets Work Done Right Away");
        $('#here_table22').append(row43);
        var radioBtn106 = $('<td> <input type="radio" name="rbtnCount106" /> </td>');
        $('#here_table22').append(radioBtn106);
        var radioBtn107 = $('<td> <input type="radio" name="rbtnCount107" /> </td>');
        $('#here_table22').append(radioBtn107);
        var radioBtn108 = $('<td> <input type="radio" name="rbtnCount108" /> </td>');
        $('#here_table22').append(radioBtn108);
        var radioBtn109 = $('<td> <input type="radio" name="rbtnCount109" /> </td>');
        $('#here_table22').append(radioBtn109);
        var radioBtn110 = $('<td> <input type="radio" name="rbtnCount110" /> </td>');
        $('#here_table22').append(radioBtn110);
    var row44 = $('<td>').addClass('survey').text("Procastinates");
        $('#here_table22').append(row44);


var row45 = $('<td>').addClass('survey').text("Follows The Heart");
        $('#here_table23').append(row45);
        var radioBtn111 = $('<td> <input type="radio" name="rbtnCount111" /> </td>');
        $('#here_table23').append(radioBtn111);
        var radioBtn112 = $('<td> <input type="radio" name="rbtnCount112" /> </td>');
        $('#here_table23').append(radioBtn112);
        var radioBtn113 = $('<td> <input type="radio" name="rbtnCount113" /> </td>');
        $('#here_table23').append(radioBtn113);
        var radioBtn114 = $('<td> <input type="radio" name="rbtnCount114" /> </td>');
        $('#here_table23').append(radioBtn114);
        var radioBtn115 = $('<td> <input type="radio" name="rbtnCount115" /> </td>');
        $('#here_table23').append(radioBtn115);
    var row46 = $('<td>').addClass('survey').text("Follows The Head");
        $('#here_table23').append(row46);

        
var row47 = $('<td>').addClass('survey').text("Stays At Home");
        $('#here_table24').append(row47);
        var radioBtn116 = $('<td> <input type="radio" name="rbtnCount116" /> </td>');
        $('#here_table24').append(radioBtn116);
        var radioBtn117 = $('<td> <input type="radio" name="rbtnCount117" /> </td>');
        $('#here_table24').append(radioBtn117);
        var radioBtn118 = $('<td> <input type="radio" name="rbtnCount118" /> </td>');
        $('#here_table24').append(radioBtn118);
        var radioBtn119 = $('<td> <input type="radio" name="rbtnCount119" /> </td>');
        $('#here_table24').append(radioBtn119);
        var radioBtn120 = $('<td> <input type="radio" name="rbtnCount120" /> </td>');
        $('#here_table24').append(radioBtn120);
    var row48 = $('<td>').addClass('survey').text("Goes Out On The Town");
        $('#here_table24').append(row48);

                
var row49 = $('<td>').addClass('survey').text("Wants The Big Picture");
        $('#here_table25').append(row49);
        var radioBtn121 = $('<td> <input type="radio" name="rbtnCount121" /> </td>');
        $('#here_table25').append(radioBtn121);
        var radioBtn122 = $('<td> <input type="radio" name="rbtnCount122" /> </td>');
        $('#here_table25').append(radioBtn122);
        var radioBtn123 = $('<td> <input type="radio" name="rbtnCount123" /> </td>');
        $('#here_table25').append(radioBtn123);
        var radioBtn124 = $('<td> <input type="radio" name="rbtnCount124" /> </td>');
        $('#here_table25').append(radioBtn124);
        var radioBtn125 = $('<td> <input type="radio" name="rbtnCount125" /> </td>');
        $('#here_table25').append(radioBtn125);
    var row50 = $('<td>').addClass('survey').text("Wants The Details");
        $('#here_table25').append(row50);

        var row51 = $('<td>').addClass('survey').text("Improvises");
        $('#here_table26').append(row51);
        var radioBtn126 = $('<td> <input type="radio" name="rbtnCount126" /> </td>');
        $('#here_table26').append(radioBtn126);
        var radioBtn127 = $('<td> <input type="radio" name="rbtnCount127" /> </td>');
        $('#here_table26').append(radioBtn127);
        var radioBtn128 = $('<td> <input type="radio" name="rbtnCount128" /> </td>');
        $('#here_table26').append(radioBtn128);
        var radioBtn129 = $('<td> <input type="radio" name="rbtnCount129" /> </td>');
        $('#here_table26').append(radioBtn129);
        var radioBtn130 = $('<td> <input type="radio" name="rbtnCount130" /> </td>');
        $('#here_table26').append(radioBtn130);
    var row52 = $('<td>').addClass('survey').text("Prepares");
        $('#here_table26').append(row52);

        
        var row53 = $('<td>').addClass('survey').text("Bases Morality On Justice");
        $('#here_table27').append(row53);
        var radioBtn131 = $('<td> <input type="radio" name="rbtnCount131" /> </td>');
        $('#here_table27').append(radioBtn131);
        var radioBtn132 = $('<td> <input type="radio" name="rbtnCount132" /> </td>');
        $('#here_table27').append(radioBtn132);
        var radioBtn133 = $('<td> <input type="radio" name="rbtnCount133" /> </td>');
        $('#here_table27').append(radioBtn133);
        var radioBtn134 = $('<td> <input type="radio" name="rbtnCount134" /> </td>');
        $('#here_table27').append(radioBtn134);
        var radioBtn135 = $('<td> <input type="radio" name="rbtnCount135" /> </td>');
        $('#here_table27').append(radioBtn135);
    var row54 = $('<td>').addClass('survey').text("Bases Morality On Compassion");
        $('#here_table27').append(row54);


             var row55 = $('<td>').addClass('survey').text("Finds It Difficult To Yell Very Loudly");
        $('#here_table28').append(row55);
        var radioBtn136 = $('<td> <input type="radio" name="rbtnCount136" /> </td>');
        $('#here_table28').append(radioBtn136);
        var radioBtn137 = $('<td> <input type="radio" name="rbtnCount137" /> </td>');
        $('#here_table28').append(radioBtn137);
        var radioBtn138 = $('<td> <input type="radio" name="rbtnCount138" /> </td>');
        $('#here_table28').append(radioBtn138);
        var radioBtn139 = $('<td> <input type="radio" name="rbtnCount139" /> </td>');
        $('#here_table28').append(radioBtn139);
        var radioBtn140 = $('<td> <input type="radio" name="rbtnCount140" /> </td>');
        $('#here_table28').append(radioBtn140);
    var row56 = $('<td>').addClass('survey').text("Yelling To Others When They Are Far Away Comes Naturally");
        $('#here_table28').append(row56);
        
        var row57 = $('<td>').addClass('survey').text("Theoretical");
        $('#here_table29').append(row57);
        var radioBtn141 = $('<td> <input type="radio" name="rbtnCount141" /> </td>');
        $('#here_table29').append(radioBtn141);
        var radioBtn142 = $('<td> <input type="radio" name="rbtnCount142" /> </td>');
        $('#here_table29').append(radioBtn142);
        var radioBtn143 = $('<td> <input type="radio" name="rbtnCount143" /> </td>');
        $('#here_table29').append(radioBtn143);
        var radioBtn144 = $('<td> <input type="radio" name="rbtnCount144" /> </td>');
        $('#here_table29').append(radioBtn144);
        var radioBtn145 = $('<td> <input type="radio" name="rbtnCount145" /> </td>');
        $('#here_table29').append(radioBtn145);
    var row58 = $('<td>').addClass('survey').text("Empirical");
        $('#here_table29').append(row58);

           var row59 = $('<td>').addClass('survey').text("Works Hard");
        $('#here_table30').append(row59);
        var radioBtn146 = $('<td> <input type="radio" name="rbtnCount146" /> </td>');
        $('#here_table30').append(radioBtn146);
        var radioBtn147 = $('<td> <input type="radio" name="rbtnCount147" /> </td>');
        $('#here_table30').append(radioBtn147);
        var radioBtn148 = $('<td> <input type="radio" name="rbtnCount148" /> </td>');
        $('#here_table30').append(radioBtn148);
        var radioBtn149 = $('<td> <input type="radio" name="rbtnCount149" /> </td>');
        $('#here_table30').append(radioBtn149);
        var radioBtn150 = $('<td> <input type="radio" name="rbtnCount150" /> </td>');
        $('#here_table30').append(radioBtn150);
    var row60 = $('<td>').addClass('survey').text("Plays Hard");
        $('#here_table30').append(row60);
        
        var row61 = $('<td>').addClass('survey').text("Uncomfortable With Emotions");
        $('#here_table31').append(row61);
        var radioBtn151 = $('<td> <input type="radio" name="rbtnCount151" /> </td>');
        $('#here_table31').append(radioBtn151);
        var radioBtn152 = $('<td> <input type="radio" name="rbtnCount152" /> </td>');
        $('#here_table31').append(radioBtn152);
        var radioBtn153 = $('<td> <input type="radio" name="rbtnCount153" /> </td>');
        $('#here_table31').append(radioBtn153);
        var radioBtn154 = $('<td> <input type="radio" name="rbtnCount154" /> </td>');
        $('#here_table31').append(radioBtn154);
        var radioBtn155 = $('<td> <input type="radio" name="rbtnCount155" /> </td>');
        $('#here_table31').append(radioBtn155);
    var row62 = $('<td>').addClass('survey').text("Values Emmotions");
        $('#here_table31').append(row62);

          var row63 = $('<td>').addClass('survey').text("Likes To Perform In Front Of Other People");
        $('#here_table32').append(row63);
        var radioBtn156 = $('<td> <input type="radio" name="rbtnCount156" /> </td>');
        $('#here_table32').append(radioBtn156);
        var radioBtn157 = $('<td> <input type="radio" name="rbtnCount157" /> </td>');
        $('#here_table32').append(radioBtn157);
        var radioBtn158 = $('<td> <input type="radio" name="rbtnCount158" /> </td>');
        $('#here_table32').append(radioBtn158);
        var radioBtn159 = $('<td> <input type="radio" name="rbtnCount159" /> </td>');
        $('#here_table32').append(radioBtn159);
        var radioBtn160 = $('<td> <input type="radio" name="rbtnCount160" /> </td>');
        $('#here_table32').append(radioBtn160);
    var row64 = $('<td>').addClass('survey').text("Avoids Public Speaking");
        $('#here_table32').append(row64);

               var row65 = $('<td>').addClass('survey').text("Likes To Know, 'WHO?', 'WHAT?'. 'WHEN?'");
        $('#here_table33').append(row65);
        var radioBtn161 = $('<td> <input type="radio" name="rbtnCount161" /> </td>');
        $('#here_table33').append(radioBtn161);
        var radioBtn162 = $('<td> <input type="radio" name="rbtnCount162" /> </td>');
        $('#here_table33').append(radioBtn162);
        var radioBtn163 = $('<td> <input type="radio" name="rbtnCount163" /> </td>');
        $('#here_table33').append(radioBtn163);
        var radioBtn164 = $('<td> <input type="radio" name="rbtnCount164" /> </td>');
        $('#here_table33').append(radioBtn164);
        var radioBtn165 = $('<td> <input type="radio" name="rbtnCount165" /> </td>');
        $('#here_table33').append(radioBtn165);
    var row66 = $('<td>').addClass('survey').text("Avoids Public Speaking");
        $('#here_table33').append(row66);
        
        $( "#submit" ).click(function() {
  $( "#submit" ).submit();
});
//Not sure how to get submit working properly for this form to send data when submitting


    


</script>

        

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
   <script src="/js/paging.js"></script>

 