<script type="text/javascript">
        $(document).ready(function () {
            $('#tableData').paging({
                limit: 12
            });
        });

        
(function($) {
    $(function() {
        $.widget("zpd.paging", {
            options: {
                limit: 12,
                rowDisplayStyle: 'block',
                activePage: 0,
                rows: []
            },
            _create: function() {
                var rows = $("tbody", this.element).children();
                this.options.rows = rows;
                this.options.rowDisplayStyle = rows.css('display');
                var nav = this._getNavBar();
                this.element.after(nav);
                this.showPage(0);
            },
            _getNavBar: function() {
                var rows = this.options.rows;
                var nav = $('<div>', {class: 'paging-nav'});
                for (var i = 0; i < Math.ceil(rows.length / this.options.limit); i++) {
                    this._on($('<a>', {
                        href: '#',
                        text: (i + 1),
                        "data-page": (i)
                    }).appendTo(nav),
                            {click: "pageClickHandler"});
                }
                //create previous link
                this._on($('<a>', {
                    href: '#',
                    text: '<<',
                    "data-direction": -1
                }).prependTo(nav),
                        {click: "pageStepHandler"});
                //create next link
                this._on($('<a>', {
                    href: '#',
                    text: '>>',
                    "data-direction": +1
                }).appendTo(nav),
                        {click: "pageStepHandler"});
                return nav;
            },
            showPage: function(pageNum) {
                var num = pageNum * 1; //it has to be numeric
                this.options.activePage = num;
                var rows = this.options.rows;
                var limit = this.options.limit;
                for (var i = 0; i < rows.length; i++) {
                    if (i >= limit * num && i < limit * (num + 1)) {
                        $(rows[i]).css('display', this.options.rowDisplayStyle);
                    } else {
                        $(rows[i]).css('display', 'none');
                    }
                }
            },
            pageClickHandler: function(event) {
                event.preventDefault();
                $(event.target).siblings().attr('class', "");
                $(event.target).attr('class', "selected-page");
                var pageNum = $(event.target).attr('data-page');
                this.showPage(pageNum);
            },
            pageStepHandler: function(event) {
                event.preventDefault();
                //get the direction and ensure it's numeric
                var dir = $(event.target).attr('data-direction') * 1;
                var pageNum = this.options.activePage + dir;
                //if we're in limit, trigger the requested pages link
                if (pageNum >= 0 && pageNum < this.options.rows.length) {
                    $("a[data-page=" + pageNum + "]", $(event.target).parent()).click();
                }
            }
        });
    });
})(jQuery);
</script>


<div id="home">
<nav class="navbar navbar-expand">
  <div class="container">
    <div class="collapse navbar-collapse" id="nav">
      <ul id="nav" class="navbar-nav nav-fill w-100">
        <li id="home" class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li id="about" class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li id="contact" class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li id="repo" class="nav-item"><a href="https://github.com/peter6468/Project2" class="nav-link">Repo</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container text-center">
    
  <div class="jumbotron">
    <img src="https://i.imgur.com/Jnw5d4F.png">
  </div>
   <i>A personality test designed to match the user with the proper compatible grouping.</i>
  </div>


</div>
<br/>
  <div class="container">
<div class="table-responsive">
        <table id="tableData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Strongly Agree</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>Strongly Disagree</th>
                </tr>
            </thead>
            <tr style>
                <td>Makes List</td>
                <td>
                    <input type="radio" name="row-1" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="5">
                </td>
                <td>Relies On Memory</td>
            </tr>
            <tr>
                <td>Sceptical</td>
                <td>
                    <input type="radio" name="row-2" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="5">
                </td>
                <td>Wants To Believe</td>
            </tr>
            <tr>
                <td>Bored By Time Alone</td>
                <td>
                    <input type="radio" name="row-3" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="5">
                </td>
                <td>Needs Time Alone</td>
            </tr>
            <tr>
                <td>Accepts Things As They Are</td>
                <td>
                    <input type="radio" name="row-4" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="5">
                </td>
                <td>Unsatisfied With The Way Things Are</td>
            </tr>
            <tr>
                <td>Keeps A Clean Room</td>
                <td>
                    <input type="radio" name="row-5" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="5">
                </td>
                <td>Just Puts Stuff Where Ever</td>
            </tr>
            <tr>
                <td>Thinks Robotic Is An Insult</td>
                <td>
                    <input type="radio" name="row-6" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="5">
                </td>
                <td>Strives To Have A Mechanical Mind</td>
            </tr>
            <tr>
                <td>Energetic</td>
                <td>
                    <input type="radio" name="row-7" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="5">
                </td>
                <td>Mellow</td>
            </tr>
            <tr>
                <td>Prefer To Take Mutlitple Choice Exam</td>
                <td>
                    <input type="radio" name="row-8" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="5">
                </td>
                <td>Prefer To Take An Essay Exam</td>
            </tr>
            <tr>
                <td>Chaotic</td>
                <td>
                    <input type="radio" name="row-9" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="5">
                </td>
                <td>Organized</td>
            </tr>
            <tr>
                <td>Easily Hurt</td>
                <td>
                    <input type="radio" name="row-10" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="5">
                </td>
                <td>Thick Skinned</td>
            </tr>
            <tr>
                <td>Works Best In Groups</td>
                <td>
                    <input type="radio" name="row-11" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="5">
                </td>
                <td>Works Best Alone</td>
            </tr>
            <tr>
                <td>Focused On The Present</td>
                <td>
                    <input type="radio" name="row-12" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="5">
                </td>
                <td>Focused On The Future</td>
            </tr>
            <tr>
                <td>Plans Far Ahead</td>
                <td>
                    <input type="radio" name="row-13" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="5">
                </td>
                <td>Plans At The Last Minute</td>
            </tr>
            <tr>
                <td>Wants People'Respect</td>
                <td>
                    <input type="radio" name="row-14" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="5">
                </td>
                <td>Wants Their Love</td>
            </tr>
            <tr>
                <td>Gets Worn Out By Parties</td>
                <td>
                    <input type="radio" name="row-15" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="5">
                </td>
                <td>Gets Fired Up By Parties</td>
            </tr>
            <tr>
                <td>Fits In</td>
                <td>
                    <input type="radio" name="row-16" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="5">
                </td>
                <td>Stands Out</td>
            </tr>
            <tr>
                <td>Keeps Options Open</td>
                <td>
                    <input type="radio" name="row-17" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="5">
                </td>
                <td>Commits</td>
            </tr>
            <tr>
                <td>Wants To Be Good At Fixing Things</td>
                <td>
                    <input type="radio" name="row-18" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="5">
                </td>
                <td>Wants To Be Good At Fixing People</td>
            </tr>
            <tr>
                <td>Talks More</td>
                <td>
                    <input type="radio" name="row-19" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="5">
                </td>
                <td>Listen More</td>
            </tr>
            <tr>
                <td>When Describing An Event, Will Tell People What Happened</td>
                <td>
                    <input type="radio" name="row-20" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="5">
                </td>
                <td>When Describing An Event, Will Tell People What It Meant</td>
            </tr>
            <tr>
                <td>Gets Work Done Right Away</td>
                <td>
                    <input type="radio" name="row-21" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="5">
                </td>
                <td>Procastinates</td>
            </tr>
            <tr>
                <td>Follows The Heart</td>
                <td>
                    <input type="radio" name="row-22" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="5">
                </td>
                <td>Follows The Head</td>
            </tr>
            <tr>
                <td>Stays At Home</td>
                <td>
                    <input type="radio" name="row-23" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="5">
                </td>
                <td>Goes Out On The Town</td>
            </tr>
            <tr>
                <td>Wants The Big Picture</td>
                <td>
                    <input type="radio" name="row-24" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="5">
                </td>
                <td>Wants The Details</td>
            </tr>
            <tr>
                <td>Improvises</td>
                <td>
                    <input type="radio" name="row-25" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="5">
                </td>
                <td>Prepares</td>
            </tr>
            <tr>
                <td>Bases Morality On Justice</td>
                <td>
                    <input type="radio" name="row-26" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="5">
                </td>
                <td>Bases Morality On Compassion</td>
            </tr>
            <tr>
                <td>Finds It Difficult To Yell Very Loudly</td>
                <td>
                    <input type="radio" name="row-27" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="5">
                </td>
                <td>Yelling To Others When They Are Far Away Comes Naturally</td>
            </tr>
            <tr>
                <td>Theoretical</td>
                <td>
                    <input type="radio" name="row-28" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="5">
                </td>
                <td>Empirical</td>
            </tr>
            <tr>
                <td>Works Hard</td>
                <td>
                    <input type="radio" name="row-29" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="5">
                </td>
                <td>Plays Hard</td>
            </tr>
            <tr>
                <td>Uncomfortable With Emotions</td>
                <td>
                    <input type="radio" name="row-30" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="5">
                </td>
                <td>Values Emmotions</td>
            </tr>
            <tr>
                <td>Likes To Perform In Front Of Other People</td>
                <td>
                    <input type="radio" name="row-31" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="5">
                </td>
                <td>Avoids Public Speaking</td>
            </tr>
            <tr>
                <td>Likes To Know, "WHO?", "WHAT?". "WHEN?"</td>
                <td>
                    <input type="radio" name="row-32" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="5">
                </td>
                <td>Likes To Know Why</td>
            </tr>
            <tr>
        </table>

    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
  </div>
{{!--    
    
        // $(function () {
        //     var col, el;
        //     $("input[type=radio]").click(function () {
        //         el = $(this);
        //         col = el.data("col");
        //         $("input[data-col=" + col + "]").prop("checked", false);
        //         el.prop("checked", true);
        //     });
        // });
 --}}

 



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
   <script src="/js/paging.js"></script>

 