
<div class="container text-center">
    <i>Your home to create group surveys and get immediate results</i>
</div>
<br><br>
<button class="btn btn-lg btn-primary" id="submit">Get Started</button>

<script src="js/landing.js"></script>