
<nav class="navbar navbar-expand">
  <div class="container">
    <div class="collapse navbar-collapse" id="nav">
      <ul id="nav" class="navbar-nav nav-fill w-100">
        <li id="home" class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li id="about" class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li id="contact" class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li id="repo" class="nav-item"><a href="https://github.com/peter6468/Project2" class="nav-link">Repo</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container text-center">
    
  <div class="jumbotron">
    <img src="https://i.imgur.com/Jnw5d4F.png">
  </div>
<h1 id="login"><a href="/login">User Login</a></h1>
<script src="js/landing.js"></script>