<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p id="alerttext"></p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <div id="username" class="d-none">
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="inputName" class="form-control" placeholder="Name">
    </div>
    <br>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="loginSubmit" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; FLTV 2018</p>
</form>
<script src="js/login.js"></script>