


<div id="home">
<nav class="navbar navbar-expand">
  <div class="container">
    <div class="collapse navbar-collapse" id="nav">
      <ul id="nav" class="navbar-nav nav-fill w-100">
        <li id="home" class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li id="about" class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li id="contact" class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li id="repo" class="nav-item"><a href="https://github.com/peter6468/Project2" class="nav-link">Repo</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="container text-center">
    
  <div class="jumbotron">
    <img src="https://i.imgur.com/Jnw5d4F.png">
  </div>
   <i>A personality test designed to match the user with the proper compatible grouping.</i>
  </div>


</div>
<br/>
  <div class="container">
        <div id="surveyElement"></div>
        <div id="surveyResult"></div>


<div class="table-responsive">
        <table id="tableData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Strongly Agree</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>Strongly Disagree</th>
                </tr>
            </thead>

<tr id="here_table"></tr>
<tr id="here_table2"></tr>
<tr id="here_table3"></tr>
<tr id="here_table4"></tr>

            {{!-- <tr style>
                <td>Makes List</td>
                <td>
                    <input type="radio" name="row-1" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-1" data-col="5">
                </td>
                <td>Relies On Memory</td>
            </tr>
            <tr>
                <td>Sceptical</td>
                <td>
                    <input type="radio" name="row-2" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-2" data-col="5">
                </td>
                <td>Wants To Believe</td>
            </tr>
            <tr>
                <td>Bored By Time Alone</td>
                <td>
                    <input type="radio" name="row-3" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-3" data-col="5">
                </td>
                <td>Needs Time Alone</td>
            </tr>
            <tr>
                <td>Accepts Things As They Are</td>
                <td>
                    <input type="radio" name="row-4" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-4" data-col="5">
                </td>
                <td>Unsatisfied With The Way Things Are</td>
            </tr>
            <tr>
                <td>Keeps A Clean Room</td>
                <td>
                    <input type="radio" name="row-5" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-5" data-col="5">
                </td>
                <td>Just Puts Stuff Where Ever</td>
            </tr>
            <tr>
                <td>Thinks Robotic Is An Insult</td>
                <td>
                    <input type="radio" name="row-6" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-6" data-col="5">
                </td>
                <td>Strives To Have A Mechanical Mind</td>
            </tr>
            <tr>
                <td>Energetic</td>
                <td>
                    <input type="radio" name="row-7" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-7" data-col="5">
                </td>
                <td>Mellow</td>
            </tr>
            <tr>
                <td>Prefer To Take Mutlitple Choice Exam</td>
                <td>
                    <input type="radio" name="row-8" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-8" data-col="5">
                </td>
                <td>Prefer To Take An Essay Exam</td>
            </tr>
            <tr>
                <td>Chaotic</td>
                <td>
                    <input type="radio" name="row-9" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-9" data-col="5">
                </td>
                <td>Organized</td>
            </tr>
            <tr>
                <td>Easily Hurt</td>
                <td>
                    <input type="radio" name="row-10" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-10" data-col="5">
                </td>
                <td>Thick Skinned</td>
            </tr>
            <tr>
                <td>Works Best In Groups</td>
                <td>
                    <input type="radio" name="row-11" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-11" data-col="5">
                </td>
                <td>Works Best Alone</td>
            </tr>
            <tr>
                <td>Focused On The Present</td>
                <td>
                    <input type="radio" name="row-12" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-12" data-col="5">
                </td>
                <td>Focused On The Future</td>
            </tr>
            <tr>
                <td>Plans Far Ahead</td>
                <td>
                    <input type="radio" name="row-13" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-13" data-col="5">
                </td>
                <td>Plans At The Last Minute</td>
            </tr>
            <tr>
                <td>Wants People'Respect</td>
                <td>
                    <input type="radio" name="row-14" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-14" data-col="5">
                </td>
                <td>Wants Their Love</td>
            </tr>
            <tr>
                <td>Gets Worn Out By Parties</td>
                <td>
                    <input type="radio" name="row-15" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-15" data-col="5">
                </td>
                <td>Gets Fired Up By Parties</td>
            </tr>
            <tr>
                <td>Fits In</td>
                <td>
                    <input type="radio" name="row-16" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-16" data-col="5">
                </td>
                <td>Stands Out</td>
            </tr>
            <tr>
                <td>Keeps Options Open</td>
                <td>
                    <input type="radio" name="row-17" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-17" data-col="5">
                </td>
                <td>Commits</td>
            </tr>
            <tr>
                <td>Wants To Be Good At Fixing Things</td>
                <td>
                    <input type="radio" name="row-18" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-18" data-col="5">
                </td>
                <td>Wants To Be Good At Fixing People</td>
            </tr>
            <tr>
                <td>Talks More</td>
                <td>
                    <input type="radio" name="row-19" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-19" data-col="5">
                </td>
                <td>Listen More</td>
            </tr>
            <tr>
                <td>When Describing An Event, Will Tell People What Happened</td>
                <td>
                    <input type="radio" name="row-20" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-20" data-col="5">
                </td>
                <td>When Describing An Event, Will Tell People What It Meant</td>
            </tr>
            <tr>
                <td>Gets Work Done Right Away</td>
                <td>
                    <input type="radio" name="row-21" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-21" data-col="5">
                </td>
                <td>Procastinates</td>
            </tr>
            <tr>
                <td>Follows The Heart</td>
                <td>
                    <input type="radio" name="row-22" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-22" data-col="5">
                </td>
                <td>Follows The Head</td>
            </tr>
            <tr>
                <td>Stays At Home</td>
                <td>
                    <input type="radio" name="row-23" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-23" data-col="5">
                </td>
                <td>Goes Out On The Town</td>
            </tr>
            <tr>
                <td>Wants The Big Picture</td>
                <td>
                    <input type="radio" name="row-24" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-24" data-col="5">
                </td>
                <td>Wants The Details</td>
            </tr>
            <tr>
                <td>Improvises</td>
                <td>
                    <input type="radio" name="row-25" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-25" data-col="5">
                </td>
                <td>Prepares</td>
            </tr>
            <tr>
                <td>Bases Morality On Justice</td>
                <td>
                    <input type="radio" name="row-26" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-26" data-col="5">
                </td>
                <td>Bases Morality On Compassion</td>
            </tr>
            <tr>
                <td>Finds It Difficult To Yell Very Loudly</td>
                <td>
                    <input type="radio" name="row-27" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-27" data-col="5">
                </td>
                <td>Yelling To Others When They Are Far Away Comes Naturally</td>
            </tr>
            <tr>
                <td>Theoretical</td>
                <td>
                    <input type="radio" name="row-28" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-28" data-col="5">
                </td>
                <td>Empirical</td>
            </tr>
            <tr>
                <td>Works Hard</td>
                <td>
                    <input type="radio" name="row-29" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-29" data-col="5">
                </td>
                <td>Plays Hard</td>
            </tr>
            <tr>
                <td>Uncomfortable With Emotions</td>
                <td>
                    <input type="radio" name="row-30" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-30" data-col="5">
                </td>
                <td>Values Emmotions</td>
            </tr>
            <tr>
                <td>Likes To Perform In Front Of Other People</td>
                <td>
                    <input type="radio" name="row-31" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-31" data-col="5">
                </td>
                <td>Avoids Public Speaking</td>
            </tr>
            <tr>
                <td>Likes To Know, "WHO?", "WHAT?". "WHEN?"</td>
                <td>
                    <input type="radio" name="row-32" data-col="1">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="2">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="3">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="4">
                </td>
                <td>
                    <input type="radio" name="row-32" data-col="5">
                </td>
                <td>Likes To Know Why</td>
            </tr>
            <tr> --}}
        </table>
<input class="btn btn-primary" type="submit" value="Submit">
    </div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</div>
<br/>
{{!--    
    
        // $(function () {
        //     var col, el;
        //     $("input[type=radio]").click(function () {
        //         el = $(this);
        //         col = el.data("col");
        //         $("input[data-col=" + col + "]").prop("checked", false);
        //         el.prop("checked", true);
        //     });
        // });
 --}}
{{!-- var json = {
    questions: [
        {
            type: "rating",
            name: "satisfaction",
            title: "How satisfied are you with the Product?",
            minRateDescription: "Not Satisfied",
            maxRateDescription: "Completely satisfied"
        }
    ]
};

window.survey = new Survey.Model(json);

survey
    .onComplete
    .add(function (result) {
        document
            .querySelector('#surveyResult')
            .innerHTML = "result: " + JSON.stringify(result.data);
    });

$("#surveyElement").Survey({model: survey}); --}}

 <script type="text/javascript">
var row = $('<td>').addClass('survey').text("Makes List");
    $('#here_table').append(row);

    for (i = 0; i < 5; i++) {
    var radioBtn = $('<td> <input type="radio" name="rbtnCount" /> </td>');
  $('#here_table').append(radioBtn);
}

var row2 = $('<td>').addClass('survey').text("Relies On Memory");
    $('#here_table').append(row2);



var row3 = $('<td>').addClass('survey').text("Skeptical");
    $('#here_table2').append(row3);

    for (i = 0; i < 5; i++) {
    var radioBtn2 = $('<td> <input type="radio" name="rbtnCount2" /> </td>');
  $('#here_table2').append(radioBtn2);
}

var row4 = $('<td>').addClass('survey').text("Wants to Believe");
    $('#here_table2').append(row4);



var row9 = $('<td>').addClass('survey').text("Bored By Time Alone");
    $('#here_table4').append(row9);

    for (i = 0; i < 5; i++) {
    var radioBtn4 = $('<td> <input type="radio" name="rbtnCount4" /> </td>');
  $('#here_table4').append(radioBtn4);
}

var row10 = $('<td>').addClass('survey').text("Needs Time Alone");
    $('#here_table4').append(row10);

    

    


</script>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
   <script src="/js/paging.js"></script>

 