<h1>Hi {{ user.name }}</h1>
<br>
<button id="create-survey-btn" class="btn btn-lg btn-primary">Create a New Survey</button>
<br><br>
<h3>My Groups</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Group Name</th>
      <th scope="col">Survey</th>
      <th scope="col">Complete Survey</th>
      <th scope="col">See Results</th>
    </tr>
  </thead>
  <tbody id="groups-tbl">
  </tbody>
</table>
<script>
    let userid = "{{ user.id }}";
</script>
<script src="js/dashboard.js"></script>