* { margin: 0; padding: 0; }
body { 
    font: 14px Georgia, serif;
    background-color: #eae6Da;
 }

 .card {
   background-color:  #eae6Da;
   border: 0px;
   left: 30px;
   font-family: sans-serif;
   font-size: 17px;
  }
 

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap { width: 960px; margin: 80px auto; }

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ccc;
  padding: 10px;
}

th:empty {
  border: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*CSS PAGINATION*/
.paging-nav {
    text-align: right;
    padding-top: 2px;
  }
  
  .paging-nav a {
    margin: auto 1px;
    text-decoration: none;
    display: inline-block;
    padding: 1px 7px;
    background: #91b9e6;
    color: white;
    border-radius: 3px;
  }
  
  .paging-nav .selected-page {
    background: #187ed5;
    font-weight: bold;
  }



  

  @media 
  only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px)  {
  
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
