/* Google Fonts */
*{
  font-family: 'Mukta', sans-serif;
  text-align: center;
}


/* Bootstrap Edits */
.jumbotron{
  background-color: #fff;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  font-size: 29px;
  color: #000;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  /* background-color: #eae6Da; */
  /* Can change back to above if needed */
  background-color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  }
.form-signin .form-signin-heading,
.form-signin .checkbox {
   margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
   height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#login{
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}


a:link {
  text-decoration: none;
}

#survey-table-body input {
  margin: 10px 5px 0px 5px;
}


.radio{
  -webkit-appearance:button;
  -moz-appearance:button;
  appearance:button;
  border:4px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:25px;
  height:25px;
  border-radius:50%;
}

.radio:focus{
  outline:none;
}


.radio:checked{
  border:12px solid #4099ff;
}

.borderless td, .borderless th {
  border: none;
}